
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
	padding: 0.5em 0.75em;
}

nav > ul > li > a {
  color: #aaa;
  text-decoration: none;
	font-size: 15px;
	font-family: sans-serif;
}

nav li:hover {
  background-color: #666;
}

body {
  background-color: #eee;
}

body > div {
  background-color: #fff;
	padding: 1.0em;
	margin: 1.0em;
	font-family: monospace;
	box-shadow: 2px 2px 10px #888888;
	overflow: auto;
	min-width: 800px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.list {
	white-space: nowrap;
	text-align: left;
  cell-spacing: 100px;
}

.list td, .list th{
  padding: 0.25em 0.5em;
}

.list th {
	background: #ccc;
}

.list tr:nth-child(even) {
	background: #f8f8f8;
}

.list tr:nth-child(odd) {
	background: #eeeeee;
}

.list	tr:hover {
	background: #ddd;
}

.list td:last-child {
    width: 100%;
}

input {
	margin: 0.25em;
	padding: 0.25em;
	border: 1px solid;
	border-radius: 2px;
}

hr {
  margin: 0.25em;
	border: none;
  border-top: 1px solid black;
}

.diff {
  white-space: pre;
}

.diff .a {
	background-color: #cfd;
}

.diff .r {
	background-color: #fdc;
}

.diff .h {
	font-style: italic;
	color: #a0a0a0;
}

.c:hover {
	background-color: #cdf;
}

.comment {
	white-space: pre-wrap;
	width: 500px;
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 2px;
	box-shadow: 4px 4px 10px #888888;
	background: #fff;
}
